name: Hassfest

on:
  pull_request:
    paths:
      - "custom_components/**"
      - ".github/workflows/hassfest.yml"
  push:
    branches:
      - main
    paths:
      - "custom_components/**"
      - ".github/workflows/hassfest.yml"

jobs:
  hassfest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run hassfest
        uses: home-assistant/actions/hassfest@master
